<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>triangleNumber</key>
		<integer>9</integer>
		<key>physicsBodyCoords</key>
		<array>
			<string>16 188</string>
			<string>17 21</string>
			<string>185 21</string>
			<string>190 82</string>
			<string>84 192</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-six.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>triangleNumber</key>
		<integer>5</integer>
		<key>physicsBodyCoords</key>
		<array>
			<string>9 63</string>
			<string>9 10</string>
			<string>60 10</string>
		</array>
		<key>outlineFilepath</key>
		<string>template_level_1-01.png</string>
		<key>shapeCount</key>
		<array>
			<integer>5</integer>
			<integer>2</integer>
			<integer>5</integer>
			<integer>8</integer>
		</array>
	</dict>
	<dict>
		<key>triangleNumber</key>
		<integer>2</integer>
		<key>physicsBodyCoords</key>
		<array>
			<string>9 63</string>
			<string>9 10</string>
			<string>60 10</string>
		</array>
		<key>outlineFilepath</key>
		<string>template_level_1-01.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>triangleNumber</key>
		<integer>2</integer>
		<key>physicsBodyCoords</key>
		<array>
			<string>9 63</string>
			<string>9 10</string>
			<string>60 10</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-four.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>triangleNumber</key>
		<integer>2</integer>
		<key>physicsBodyCoords</key>
		<array>
			<string>9 63</string>
			<string>9 10</string>
			<string>60 10</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-five.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>triangleNumber</key>
		<integer>2</integer>
		<key>physicsBodyCoords</key>
		<array>
			<string>9 63</string>
			<string>9 10</string>
			<string>60 10</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-six.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>triangleNumber</key>
		<integer>2</integer>
		<key>physicsBodyCoords</key>
		<array>
			<string>9 63</string>
			<string>9 10</string>
			<string>60 10</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-med.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>triangleNumber</key>
		<integer>2</integer>
		<key>physicsBodyCoords</key>
		<array>
			<string>9 63</string>
			<string>9 10</string>
			<string>60 10</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-hard.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>10</integer>
		</array>
	</dict>
</array>
</plist>
