<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>physicsBodyCoords</key>
		<array>
			<string>19 182</string>
			<string>186 17</string>
			<string>18 16</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-one.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>physicsBodyCoords</key>
		<array>
			<string>19 182</string>
			<string>186 17</string>
			<string>18 16</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-one.png</string>
		<key>shapeCount</key>
		<array>
			<integer>5</integer>
			<integer>2</integer>
			<integer>5</integer>
			<integer>8</integer>
		</array>
	</dict>
	<dict>
		<key>physicsBodyCoords</key>
		<array>
			<string>19 182</string>
			<string>186 17</string>
			<string>18 16</string>
		</array>
		<key>outlineFilepath</key>
		<string>level-one.png</string>
		<key>shapeCount</key>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>2</integer>
			<integer>10</integer>
		</array>
	</dict>
</array>
</plist>
